apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-ravi
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-csob-tenant/status-quarkus-io/statusquarkusio-ravi@sha256:fbbde0287fbc80ffea2c8c392cbf1e744c924fa7f276b6b74d24f28bb7e98f27
        name: my-java-quarkus
        resources: {}
status: {}
